@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Roboto&display=swap");
.btn-bluedark, .btn-bluedark2 {
  width: 100px;
  height: 30px;
  background-color: #0f0f4b;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #F5F0F0;
  font-size: 2rem; }
  .btn-bluedark:hover, .btn-bluedark2:hover {
    background-color: #a18e99;
    color: white; }

.btn-bluedark2:hover {
  background-color: #8975df;
  color: white; }

.bg-red {
  background-color: #292829; }

.botonera {
  animation-name: textAlpha;
  animation-duration: 4s; }
  .botonera .botonera img {
    width: 150px; }
    .botonera .botonera img .botonera nav ul li a {
      background-position: 0% 100%;
      background-repeat: no-repeat;
      background-size: 0% 2px;
      transition: background-size .3s; }
      nav ul li .botonera .botonera img .botonera nav ul li a:hover {
        color: black;
        font-weight: 600; }
        nav ul li .botonera .botonera img .botonera nav ul li a:hover li {
          animation-name: textAlpha;
          animation-duration: 4s; }

@keyframes textAlpha {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.nav-item {
  color: #201919; }

.bg-blue {
  background-color: #c79b8ac4;
  color: black; }

.nav-item {
  font-size: 2rem;
  color: black; }

.nav-link {
  color: black; }

.logo__nombre {
  font-weight: 400; }

.logo__bold {
  font-weight: 600; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", sans-serif;
  line-height: 1.2; }

h1 {
  font-size: 4.5rem;
  text-align: center; }

h2 {
  font-size: 4rem;
  text-align: center; }

h3 {
  font-size: 3.2rem;
  color: #096464; }

h5 {
  font-size: 2.5rem;
  font-family: "Nunito Sans", sans-serif; }

p {
  font-family: "Roboto", sans-serif; }

.tituloprincipal {
  line-height: 1.6em;
  font-size: 3rem;
  text-align: center;
  color: #F5F0F0;
  background-color: #0F0E0E; }

.textgoogle {
  color: #1d2e2e;
  font-size: 3.8rem;
  font-family: "Roboto", sans-serif;
  text-align: center; }

.bg-formulario {
  background-color: #F5F0F0; }

.bg-red {
  background-color: #0F0E0E;
  color: #F5F0F0; }

p {
  font-size: 1.4rem;
  line-height: 1.6em;
  text-align: center; }

/**CSS en Promociones**/
.tituloprincipal2 {
  background: linear-gradient(to top, #291414, #858584);
  color: #F5F0F0; }

.curso {
  padding: 3rem 0;
  border-bottom: 1px solid var(--gris); }

.curso {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2rem; }

.curso:last-of-type {
  border: none; }

.curso__label {
  font-family: var(--fuenteHeading);
  font-weight: 600; }

.curso__info {
  font-weight: normal; }

.curso__label,
.curso__info {
  font-size: 2rem; }

h3.titulardelmes {
  text-align: center;
  font-family: "Roboto", sans-serif; }

/**CSS EN BLOG**/
h4.mb-5 {
  font-size: 4rem;
  color: #201919;
  font-family: "Nunito Sans", sans-serif; }

h5.card-title {
  font-size: 2rem; }

/**CSS EN  CONTACTO**/
.text-dark {
  font-size: 3rem;
  font-family: "Roboto", sans-serif; }

.tx-1 {
  font-size: 2rem; }

.enviar1 {
  font-size: 3rem;
  text-align: center; }

/**Footer**/
.bg-dark {
  background: linear-gradient(to top, #301e64, #858584);
  padding-top: 3rem;
  margin-top: 4rem; }

.textodelfooter {
  font-size: 2rem;
  color: white;
  text-align: center; }

.btn-bluedark2 {
  background-color: black;
  color: white;
  font-size: 2rem; }
