/**Footer**/
.bg-dark {
    background: linear-gradient(to top, rgb(48, 30, 100), rgb(133, 133, 132) );
    padding-top: 3rem;
    margin-top: 4rem;
    
}

.textodelfooter {
    font-size: 2rem;
    color: white;
    text-align: center;
}

.btn-bluedark2 {
    background-color: black;
    color: white;
    font-size: 2rem;
}