// variables globales
$mainColor: rgba(238,188,247,.5);
$secondaryColor: #bea59bc4;
$keyColor: rgba(50, 60, 116, 0.384);
$white:#F5F0F0;
$black:#0F0E0E;
$marron: #784d3c; 
$gris: #e1e1e1;
$azuloscuro: rgb(15, 15, 75); 
$titularenblog: #201919; 

