<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<!--logo rss-->
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
<!-- mi css-->
<link rel="stylesheet" href="../css/style.css">
<!--mi favicon-->
<link rel="shortcut icon" href="../Img/logo 1.jpg">

    <title>Café Amsterdam | Especialistas en CAFÉ</title>
</head>
<body>
<!-- Inicia la nav-->
<nav class="navbar navbar-expand-lg navbar-light bg-blue sticky-top">
<div class="container-fluid">
    <a class="navbar-brand" href="../index.html">
        <h1 class="logo__nombre no-margin centrar-texto">Café<span class="logo__bold">Amsterdam</span></h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="../views/promociones.html">Promociones</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="../views/blog.html">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../views/cursos.html">Cursos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="../views/contacto.html">Contacto</a>
                </li>
    </ul>
    </div>
</div>
</nav>
<!-- ends nav-->
</body>

<header>
<div class="card border border-success rounded-2">
    <p class="card-header bg-red text-white text-center border border-success rounded-2">
        ENVÍO GRATIS A TODO EL PAÍS A PARTIR DE $10.000  
    </p>
    </div>

<!-- Background image -->
<div
class="p-5 text-center bg-image"
style="
    background-image: url('https://images.unsplash.com/photo-1513530176992-0cf39c4cbed4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    height: 400px;
    "
>
<div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
<div class="d-flex justify-content-center align-items-center h-100">
<div class="text-white">
<h1 class="mb-5 display-4 fw-bold">CURSOS | INICIO AGOSTO 2022</h1>
<h4 class="mb-5 display-1 fw-bold bg-white text-danger rounded-3">
    90% OFF
</h4>
<a
    class="btn btn-white text-danger btn-lg px-5 py-3 fw-bold"
    href="#!"
    role="button"
    data-ripple-color="danger"
    >Ver Ofertas</a
    >
</div>
</div>
</div>
</div>
<!-- Background image -->
<div class="card border border-success rounded-2">
    <p class="card-header bg-red text-white text-center border border-success rounded-2">
        25% DE DESCUENTO PAGANDO CON TU VISA DEL BANCO PATAGONIA 
    </p>
    </div>
</header>


<main class="mb-5">
<div class="container">
<section class="mb-5">
<div class="row gx-lg-5">
<div class="col-lg-4 mb-5 mb-lg-0">
<div class="card">
    <div
        class="bg-image hover-overlay ripple"
        data-mdb-ripple-color="light"
        >
    <img
        src="https://images.unsplash.com/photo-1522659516672-189a712c29af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
        class="w-100"
        />
    <a href="#!">
        <div
            class="mask"
            style="background-color: rgba(251, 251, 251, 0.05)"
            ></div>
    </a>
    </div>
    <div class="card-body">
    <h5 class="fw-bold mb-3">Extracción de CAFÉ</h5>
    <p class="text-muted mb-3">Sin cupos disponibles</p>
    <h5>
        <s class="me-2 align-middle small text-muted">$1000</s>
        <span class="align-middle me-2">$99</span>
        <span class="badge bg-danger align-middle">-90%</span>
    </h5>
    </div>
</div>
</div>
<div class="col-lg-4 mb-5 mb-lg-0">
<div class="card">
    <div
        class="bg-image hover-overlay ripple"
        data-mdb-ripple-color="light"
        >
    <img
        src="https://images.unsplash.com/photo-1547983896-a51f56785650?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
        class="w-100"
        />
    <a href="#!">
        <div
            class="mask"
            style="background-color: rgba(251, 251, 251, 0.05)"
            ></div>
    </a>
    </div>
    <div class="card-body">
    <h5 class="fw-bold mb-3">Curso de Barista</h5>
    <p class="text-muted mb-3">Sin cupos disponibles</p>
    <h5>
        <s class="me-2 align-middle small text-muted">$1000</s>
        <span class="align-middle me-2">$99</span>
        <span class="badge bg-danger align-middle">-90%</span>
    </h5>
    </div>
</div>
</div>
<div class="col-lg-4 mb-5 mb-lg-0">
<div class="card">
    <div
        class="bg-image hover-overlay ripple"
        data-mdb-ripple-color="light"
        >
    <img
        src="https://images.unsplash.com/photo-1590486145851-aae8758c4211?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80"
        class="w-100"
    />
    <a href="#!">
        <div
            class="mask"
            style="background-color: rgba(251, 251, 251, 0.05)"
            ></div>
    </a>
    </div>
    <div class="card-body">
    <h5 class="fw-bold mb-3">Introducción a la industria del café</h5>
    <p class="text-muted mb-3">Sin cupos disponiles</p>
    <h5>
        <s class="me-2 align-middle small text-muted">$1000</s>
        <span class="align-middle me-2">$99</span>
        <span class="badge bg-danger align-middle">-90%</span>
    </h5>
    </div>
</div>
</div>
</div>
</section>

<section>
<div class="row justify-content-center">
<div class="col-lg-6">
<div class="card">
    <div class="card-body p-4">
    <p class="text-center fw-bold mb-4">
        Subscribite y recibi descuentos exclusivos
    </p>

    <form>
        <!-- Name input -->
        <div class="form-outline mb-4">
        <input
                type="text"
                id="form5Example1"
                class="form-control"
                />
        <label class="form-label" for="form5Example1">Nombre</label>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
        <input
                type="email"
                id="form5Example2"
                class="form-control"
                />
        <label class="form-label" for="form5Example2"
                >Mail</label
            >
        </div>

        <!-- Checkbox -->
        <div class="form-check d-flex justify-content-center mb-4">
        <input
                class="form-check-input me-2"
                type="checkbox"
                value=""
                id="form5Example3"
                checked
                />
        <label class="form-check-label" for="form5Example3">
        He leído y acepto los términos
        </label>
        </div>

        <!-- Submit button -->
        <button
                type="submit"
                class="btn btn-white text-danger btn-block mb-4"
                data-mdb-ripple-color="danger"
                >
        Subscribirse
        </button>
    </form>
    </div>
</div>
</div>
</div>
</section>
</div>
</main>

</main>


<!-- inicio del footer-->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-facebook-f"></i
        ></a>
    
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-twitter"></i
        ></a>
    
        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-google"></i
        ></a>
    
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-instagram"></i
        ></a>
    
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-linkedin-in"></i
        ></a>
    
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-github"></i
        ></a>
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">cafeamsterdam.com</a>
    </div>
    <!-- Copyright -->
    </footer>
    
    </div>
    <!-- End of .container --> <!--ends footer-->